.metabar {
    position: absolute;
    z-index: 10;
    background-color: #212122;
    width: 97%;
    height: 150vh;
}

.metabar > h3 {
    margin: 2vh 0 0 0;
    text-align: center;
}

.metadata-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: 5vh;
}

.metadata-form > input {
    width: 85vw;
    height: 4vh;
    font-family: "Tiny5", serif;
}

.save-btn {
    width: 20vw;
    height: 5vh;
    background-color: green;
    border: none;
    font-family: "Tiny5", serif;
    border-radius: 10px;
}